<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>586619633053-tdqgj2k4vnelct4or8i1h88fbihch9nt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.586619633053-tdqgj2k4vnelct4or8i1h88fbihch9nt</string>
	<key>API_KEY</key>
	<string>AIzaSyACfF25V7UUwY7vqHCk1xRC7H35JHfU0io</string>
	<key>GCM_SENDER_ID</key>
	<string>586619633053</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.upayment</string>
	<key>PROJECT_ID</key>
	<string>upayments-8653e</string>
	<key>STORAGE_BUCKET</key>
	<string>upayments-8653e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:586619633053:ios:cac2e7aaa362582e224374</string>
</dict>
</plist>